@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --color-text-black: #161216;
  --color-white-fill: #fefdf6;

  --color-pink: #f2c5ec;
  --color-yellow: #f3eeb4;

  --color-green: #dbf3b4;
  --color-red: #ec888e;

  --border-button: 50px;
}